@media screen and (min-width: 1280px) {
  .navlist {
    width: 59.62643678160919vw;
    padding: 1.6598850574712645vw 0;
  }

  #home::before {
    content: "00";
  }

  #destination::before {
    content: "01";
  }

  #crew::before {
    content: "02";
  }

  #technology::before {
    content: "03";
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navlist {
    width: 64.62643678160919vw;
    padding: 2.5598850574712645vw 0;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  #home::before {
    content: "00";
    font-weight: 600;
  }

  #destination::before {
    content: "01";
    font-weight: 600;
  }

  #crew::before {
    content: "02";
    font-weight: 600;
  }

  #technology::before {
    content: "03";
    font-weight: 600;
  }

  .navlist {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000 !important;
  }

  .hidden {
    display: none !important;
    height: 0;
    overflow: hidden;
  }

  .visible {
    display: flex !important;
    flex-direction: column !important;
    row-gap: 32px !important;
    height: 100vh !important;
    width: 254px;
    position: relative !important;
    top: 5rem;
  }

  .hamb {
    position: absolute !important;
    top: 50px;
    right: 30px;
  }

  .hamburger {
    position: relative;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    z-index: 10;
  }

  .burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--color-2);
    transform-origin: 1px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .transition-in {
    transition: 100ms ease-out;
    -webkit-transition: 100ms ease-out;
    -moz-transition: 100ms ease-out;
    -ms-transition: 100ms ease-out;
    -o-transition: 100ms ease-out;
  }

  .bg-color-1 {
    background-color: var(--bg-color-3) !important;
  }
}