@media screen and (min-width: 1280px) {
  .navlist {
    width: 49.62643678160919vw;
    padding: 2.5rem 0;
    align-items: center;
  }

  .navlist-decoration {
    display: flex;
    align-items: center;
  }

  .navlist-decoration::before {
    content: "";
    border-bottom: 1px solid hsl(0, 0%, 59%);
    opacity: 0.3;
    width: 29.563rem;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
    left: 5rem;   
}

  #home::before {
    content: "00";
  }

  #destination::before {
    content: "01";
  }

  #crew::before {
    content: "02";
  }

  #technology::before {
    content: "03";
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navlist {
    padding: 2rem 4rem 2rem 0;
    margin: 0;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  #home::before {
    content: "00";
    font-weight: 600;
  }

  #destination::before {
    content: "01";
    font-weight: 600;
  }

  #crew::before {
    content: "02";
    font-weight: 600;
  }

  #technology::before {
    content: "03";
    font-weight: 600;
  }

  .ul-menu {
    position: fixed;
    inset: -20px 0 -20px 40%;
    padding-top: 7rem;
    z-index: 1000;
  }


  .hidden {
    display: none !important;
    height: 0;
  }

  .visible {
    display: flex !important;
    flex-direction: column !important;
    row-gap: 32px !important;
    width: 254px;
  }

  .hamburger-wrapper {
    position: absolute;
    top: 35px;
    right: 30px;
    z-index: 1000;
  }

  .hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--color-2);
    transform-origin: 1px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .transition-in {
    transition: 100ms ease-out;
    -webkit-transition: 100ms ease-out;
    -moz-transition: 100ms ease-out;
    -ms-transition: 100ms ease-out;
    -o-transition: 100ms ease-out;
  }
}