.App {
  display: grid;
  grid-template-rows: 5rem 1fr;
  place-content: start center;
}

html,
body {
  min-height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
}

.logo {
  padding-left: 2rem;
}

/* Homepage layout and components*/
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 39px;
  row-gap: 6rem;
}

.content {
  text-align: center;
}

.explore__button {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--color-3);
  letter-spacing: 2px;
  border: var(--color-3) solid none;
  height: 150px;
  width: 150px;
  margin-bottom: 3rem;
}

.explore__button:hover {
  cursor: pointer;
}

/* 
 * Layout for pages
*/
.container {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 2rem;
}

.section-grid-container {
  display: flex;
  flex-flow: column wrap;
}

.section-picture {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.section-content {
  text-align: center;
  padding: 0 1rem;
}

.section-content.crew {
  order: 2;
  display: grid;
}

.section-content.technology {
  order: 2;
}

.section-picture.crew {
  order: 1;
}

.section-info.crew {
  order: 2;
  margin-top: 0;
}

.section-image.destination {
  width: 100%;
  max-width: 10.625rem;
  height: auto;
}

.section-image.crew {
  width: 100%;
  max-width: 180px;
  height: auto;
}

.section-image.technology {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 1.625rem;
}

.buttons-container.destination {
  column-gap: .75rem;
}

.buttons-container.crew {
  order: 1;
  column-gap: 1.5rem;
}

.buttons-container.technology {
  column-gap: 1rem;
}

.section-info {
  margin-top: 1.75rem;
}

.section-info.destination {
  padding-left: 1rem;
  padding-right: 1rem;
}

.section-info.technology {
  padding-left: 1rem;
  padding-right: 1rem;
  word-wrap: break-word;
}

.destination-stats {
  display: flex;
  flex-flow: column wrap;
  column-gap: 4.938rem;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .App {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    place-content: stretch stretch;
  }

  .header {
    position: relative;
    top: 2rem;
  }

  /* Homepage desktop layout and components */
  .homepage {
    display: block;
    position: relative;
    top: 25.51vh;
  }

  .section-grid-container {
    display: grid;
  }

  .content {
    position: relative;
    left: 11.85344827586207vw;
    width: 32.327586206896555vw;
    text-align: left;
  }

  .button__container {
    position: absolute;
    bottom: 0;
    right: clamp(10.313vw, 10.313rem, 2rem);
  }

  .explore__button {
    height: 274px;
    width: 274px;
  }

  /* Desktop Layout for pages */
  .container {
    justify-content: flex-start;
    row-gap: 3rem;
    position: relative;
    top: 10vh;
  }

  .section-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 65px);
    column-gap: 1.975rem;
  }

  .section-title {
    margin-left: 10rem;
  }

  .section-picture {
    grid-column: 3 / span 4;
  }

  .section-picture.crew {
    grid-column: 9 / span 6;
  }

  .section-picture.technology {
    grid-column: 10 / span 6;
  }

  .section-image-fixed {
    position: fixed;
  }

  .section-image-relative {
    position: relative;
  }

  .section-image.crew {
    max-width: 75%;
    position: absolute;
    right: 0;
    top: -3rem;
  }


  .section-image.destination {
    max-width: 27.81rem;
  }

  .section-image.technology {
    max-width: 32.188rem;
    position: absolute;
    right: -1.2rem;
    top: -2rem;
  }

  .section-content {
    text-align: left;
  }

  .section-content.destination {
    grid-column: 8 / span 6;
  }

  .section-content.crew {
    grid-column: 2 / span 8;
    margin-left: 3rem;
    text-align: left;
    height: 54.205607476635514vh;
  }

  .section-content.technology {
    grid-column: 3 / span 7;
    display: flex;
    column-gap: 2rem;
    margin-left: -2rem;
  }

  .section-bio.crew {
    max-width: 65%;
  }

  .buttons-container {
    display: flex;
  }

  .buttons-container.destination {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 24px;
    column-gap: 2.18rem;
    margin-top: 0;
  }

  .buttons-container.crew {
    position: absolute;
    bottom: 0;
  }

  .buttons-container.technology {
    flex-direction: column;
    justify-content: space-between;
  }

  .section-info {
    display: flex;
    flex-flow: column wrap;
  }

  .section-info.destination {
    padding-left: 1rem;
    padding-right: 4rem;
  }

  .section-info-description.technology {
    padding-right: 1.5rem;
}

  .destination-stats {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 600px) and (max-width: 1279px) {
  .App {
    grid-template-columns: auto;
    grid-template-rows: 150px auto;
    place-content: stretch stretch;
  }

  .header {
    margin-top: 0 !important;
  }

  /* Homepage tablet layout and components*/
  .homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* row-gap: 5rem; */
    position: relative;
    top: 4vh;
  }

  .content {
    width: 55.827586206896555vw;
  }

  .button__container {
    position: relative;
    top: 5rem;
    right: 0;
  }

  .explore__button {
    height: 242px;
    width: 242px;
  }

  /* Tablet Layout for pages */
  .container {
    justify-content: flex-start;
  }

  .section-grid-container {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
    column-gap: 1.875rem;
    row-gap: 3.5rem;
  }

  .buttons-container {
    height: 34px;
    column-gap: 2.5rem;
    margin-bottom: 3rem;
    /* margin-top: 0; */
  }

  .buttons-container.technology {
    margin-bottom: 2.75rem;
  }

  .section-info {
    display: flex;
    flex-flow: column wrap;
  }

  .section-info.crew {
    order: 1;
    margin-top: 0;
  }

  .section-info.technology {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }

  .section-title {
    margin-left: 2.46rem;
    margin-bottom: 4vh;
  }

  .section-picture {
    grid-column: 1 / span 10;
    align-self: center;
  }

  .section-image-fixed {
    position: static;
  }

  .section-image.destination {
    max-width: 18.75rem;
  }

  .section-image.crew {
    max-width: 28.5rem;
  }

  .section-image.technology {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .section-content {
    grid-column: 2 / span 8;
    text-align: center;
  }

  .section-content.crew {
    height: auto;
    order: 1;
  }

  .section-bio.crew {
    padding: 0 2rem;
    word-wrap: break-all;
    /* height: 104px; */
  }

  .destination-stats {
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 599px) {
  .section-picture.crew::after {
    border-bottom: 1.5px solid hsla(229, 18%, 51%, 0.9);
    content: "";
    width: 90%;
    height: 0px;
    opacity: 0.6;
    position: absolute;
    transform: translate(-50%, -300%);
    -webkit-transform: translate(-50%, -300%);
    -moz-transform: translate(-50%, -300%);
    -ms-transform: translate(-50%, -300%);
    -o-transform: translate(-50%, -300%);
  }
}