@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@100;200;300;400;500&family=Bellefair&display=swap');

.font-bellefair {
  font-family: 'Bellefair', serif;
}

.font-barlow {
  font-family: 'Barlow', sans-serif;
}

.font-barlowCondensed {
  font-family: 'Barlow Condensed', sans-serif;
}

.f-100 {
  font-weight: 100;
}

.f-400 {
  font-weight: 400;
}

.f-700 {
  font-weight: 700;
}

.text-upper {
  text-transform: uppercase;
}

.text-dark-navy {
  color: var(--color-1);
}

.text-slate {
  color: var(--color-2);
}

.text-slate-2 {
  color: var(--color-5);
}

.text-white {
  color: var(--color-3);
}

.text-150 {
  font-size: clamp(5rem, 20vw, 9.375rem);
  line-height: 1;
}

.text-100 {
  font-size: clamp(3.5rem, 9.756101vw, 6.25rem);
  line-height: 1;
}

.text-56 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 0.78117543343048586rem + 3.304717406327935vw, 3.5rem);
  line-height: 1;
}

.text-32 {
  font-size: clamp(1rem, 0.3472751185766657rem + 2.3056040678527785vw, 2rem);
  line-height: 2.40rem;
}

.text-28 {
  font-size: clamp(1rem, 2.43903vw, 1.75rem);
  line-height: 2.15rem;
  letter-spacing: 0.16964285714285715em;
}

.text-p {
  font-size: clamp(1.250vw, 1.13rem, 1rem);
  line-height: 2rem;
}

.subheading-1 {
  font-size: 1.75rem;
  line-height: 2.15rem;
}

.subheading-2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.1678em;
}

.nav-text {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.8146593898220832rem + 0.3194505084815973vw, 1rem);
  letter-spacing: 0.16875em;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

/* START Column gap */
.gap-x-\.5 {
  column-gap: .5rem;
}

.gap-x-3 {
  column-gap: 3rem;
}

/* END Column gap */

/* START Row gap */
.gap-y-1\.5 {
  row-gap: 1.5rem;
}

/* END Row gap */


/*  START padding  */
.padding-l-7 {
  padding-left: 8.836206896551724vw;
}

/*  END padding  */

/* START margin-x */
.margin-x-\.5 {
  margin: 0 .5rem;
}

.margin-x-1 {
  margin: 0 1rem;
}

.margin-x-1\.5 {
  margin: 0 1.5rem;
}

.margin-x-2 {
  margin: 0 2rem;
}

.margin-x-2\.5 {
  margin: 0 2.5rem;
}

.margin-x-3 {
  margin: 0 3rem;
}

.margin-x-3\.5 {
  margin: 0 3.5rem;
}

.margin-x-4 {
  margin: 0 4rem;
}

.margin-x-5 {
  margin: 0 5rem;
}

.margin-x-5\.5 {
  margin: 0 5.5rem;
}

/* END margin-x */

/* START margin-y */
.margin-y-\.5 {
  margin: .5rem 0;
}

/* END margin-y */

/* START margin-top */
.margin-t-0 {
  margin-top: .5rem;
}

.margin-t-1 {
  margin-top: 1rem;
}

/* END margin-top */

/* START margin-bottom */
.margin-b-1 {
  margin-bottom: 1rem;
}

/* END margin-bottom */